@-webkit-keyframes animationSeventhDiv {
  0% {
      top: 240px;
      opacity: 0.1s;
      transform: rotateY(0deg) translateZ(400px) rotateZ(0deg);

  }
  25% {
      left: 1090px;
      top: 140px;
      opacity: 0.5;
      transform: rotateY(100deg) translateZ(0px) rotateZ(-30deg);

  }
  50% {
      left: 940px;
      top: 40px;
      opacity: 1;
      transform: rotateY(180deg) translateZ(400px) rotateZ(0deg);
  }
  75% {
      left: 790px;
      top: 140px;
      opacity: 0.5;
      transform: rotateY(260deg) translateZ(0px) rotateZ(30deg);
  }
  100% {
      left: 940px;
      top: 240px;
      opacity: 0.1;
      transform: rotateY(360deg) translateZ(400px) rotateZ(0deg);

  }
}
@keyframes animationSeventhDiv {
    0% {
        top: 240px;
        opacity: 0.1;
        transform: rotateY(0deg) translateZ(400px) rotateZ(0deg);

    }
    25% {
        left: 1090px;
        top: 140px;
        opacity: 0.5;
        transform: rotateY(100deg) translateZ(0px) rotateZ(-30deg);

    }
    50% {
        left: 940px;
        top: 40px;
        opacity: 1;
        transform: rotateY(180deg) translateZ(400px) rotateZ(0deg);
    }
    75% {
        left: 790px;
        top: 140px;
        opacity: 0.5;
        transform: rotateY(260deg) translateZ(0px) rotateZ(30deg);
    }
    100% {
        left: 940px;
        top: 240px;
        opacity: 0.1;
        transform: rotateY(360deg) translateZ(400px) rotateZ(0deg);

    }
}

@-webkit-keyframes animationFifthDiv {
    0% {
        top: 40px;
        opacity: 1;
        transform: rotateY(-180deg) translateZ(400px) rotateZ(0deg);
    }
    25% {
        left: 790px;
        top: 140px;
        opacity: 0.5;
        transform: rotateY(-100deg) translateZ(0px) rotateZ(30deg);
    }
    50% {
        left: 940px;
        top: 240px;
        opacity: 0.1;
        transform: rotateY(0deg) translateZ(400px) rotateZ(0deg);
    }
    75% {
        left: 1090px;
        top: 140px;
        opacity: 0.5;
        transform: rotateY(100deg) translateZ(0px) rotateZ(-30deg);
    }
    100% {
        left: 940px;
        top: 40px;
        opacity: 1;
        transform: rotateY(180deg) translateZ(400px) rotateZ(0deg);
    }
}
@keyframes animationFifthDiv {
    0% {
        top: 40px;
        opacity: 1;
        transform: rotateY(-180deg) translateZ(400px) rotateZ(0deg);
    }
    25% {
        left: 790px;
        top: 140px;
        opacity: 0.5;
        transform: rotateY(-100deg) translateZ(0px) rotateZ(30deg);
    }
    50% {
        left: 940px;
        top: 240px;
        opacity: 0.1;
        transform: rotateY(0deg) translateZ(400px) rotateZ(0deg);
    }
    75% {
        left: 1090px;
        top: 140px;
        opacity: 0.5;
        transform: rotateY(100deg) translateZ(0px) rotateZ(-30deg);
    }
    100% {
        left: 940px;
        top: 40px;
        opacity: 1;
        transform: rotateY(180deg) translateZ(400px) rotateZ(0deg);
    }
}

@-webkit-keyframes animationSixthDiv {
    0% {
        opacity: 0.5;
        transform: rotateY(95deg) translateZ(0px) rotateZ(-30deg);
    }
    25% {
        left: 940px;
        top: 40px;
        opacity: 1;
        transform: rotateY(180deg) translateZ(400px) rotateZ(0deg);
    }
    50% {
        left: 790px;
        top: 140px;
        opacity: 0.5;
        transform: rotateY(260deg) translateZ(0px) rotateZ(30deg);
    }
    75% {
        left: 940px;
        top: 240px;
        opacity: 0.1;
        transform: rotateY(360deg) translateZ(400px) rotateZ(0deg);
    }
    100% {
        left: 1090px;
        top: 140px;
        opacity: 0.5;
        transform: rotateY(460deg) translateZ(0px) rotateZ(-30deg);
    }
}
@keyframes animationSixthDiv {
    0% {
        opacity: 0.5;
        transform: rotateY(95deg) translateZ(0px) rotateZ(-30deg);
    }
    25% {
        left: 940px;
        top: 40px;
        opacity: 1;
        transform: rotateY(180deg) translateZ(400px) rotateZ(0deg);
    }
    50% {
        left: 790px;
        top: 140px;
        opacity: 0.5;
        transform: rotateY(260deg) translateZ(0px) rotateZ(30deg);
    }
    75% {
        left: 940px;
        top: 240px;
        opacity: 0.1;
        transform: rotateY(360deg) translateZ(400px) rotateZ(0deg);
    }
    100% {
        left: 1090px;
        top: 140px;
        opacity: 0.5;
        transform: rotateY(460deg) translateZ(0px) rotateZ(-30deg);
    }
}

@-webkit-keyframes animationEighthDiv {
    0% {
        opacity: 0.5;
        transform: rotateY(260deg) translateZ(0px) rotateZ(30deg);
    }
    25% {
        left: 940px;
        top: 240px;
        opacity: 0.1;
        transform: rotateY(360deg) translateZ(400px) rotateZ(0deg);
    }
    50% {
        left: 1090px;
        top: 140px;
        opacity: 0.5;
        transform: rotateY(460deg) translateZ(0px) rotateZ(-30deg);
    }
    75% {
        left: 940px;
        top: 40px;
        opacity: 1;
        transform: rotateY(540deg) translateZ(400px) rotateZ(0deg);
    }
    100% {
        left: 790px;
        top: 140px;
        opacity: 0.5;
        transform: rotateY(630deg) translateZ(0px) rotateZ(30deg);
    }
}
@keyframes animationEighthDiv {
    0% {
        opacity: 0.5;
        transform: rotateY(260deg) translateZ(0px) rotateZ(30deg);
    }
    25% {
        left: 940px;
        top: 240px;
        opacity: 0.1;
        transform: rotateY(360deg) translateZ(400px) rotateZ(0deg);
    }
    50% {
        left: 1090px;
        top: 140px;
        opacity: 0.5;
        transform: rotateY(460deg) translateZ(0px) rotateZ(-30deg);
    }
    75% {
        left: 940px;
        top: 40px;
        opacity: 1;
        transform: rotateY(540deg) translateZ(400px) rotateZ(0deg);
    }
    100% {
        left: 790px;
        top: 140px;
        opacity: 0.5;
        transform: rotateY(630deg) translateZ(0px) rotateZ(30deg);
    }
}


body {
    perspective: 3000px;
    perspective-origin: 650px -250px;
}

div {
    width: 220px;
    margin: 20px auto;
    position: absolute;
    height: 160px;
    color: #fff;
    font-size: 50px;
    text-align: center;
    line-height: 160px;
    opacity: 0.8;
    font-weight: bold;
    border-radius: 30px;
}
.fifth {
    transform: translateZ(-400px) rotateY(-180deg) rotateZ(0deg);
    left: 940px;
    top: 40px;
    background-image: linear-gradient(to bottom, rgba(146,251,252,0.2) 20%, rgba(28,238,240,1));
}
.fifth {
    -webkit-animation: animationFifthDiv 500ms;
    animation: animationFifthDiv 500ms;
    animation-iteration-count: infinite;
}
.sixth {
    transform: translateZ(0px) rotateY(100deg) rotateZ(-30deg);
    left: 1090px;
    top: 140px;
    background-image: linear-gradient(to bottom, rgba(240,130,131,0.2) 20%, rgba(217,64,65,1));
}
.sixth {
    -webkit-animation: animationSixthDiv 500ms;
    animation: animationSixthDiv 500ms;
    animation-iteration-count: infinite;
}
.seventh {
    transform: translateZ(400px) rotateY(0) rotateZ(0deg);
    left: 940px;
    top: 240px;
    background-image: linear-gradient(to bottom, rgba(252,249,139,0.2) 20%, rgba(227,222,37,1));
}
.seventh {
    -webkit-animation: animationSeventhDiv 500ms;
    animation: animationSeventhDiv 500ms;
    animation-iteration-count: infinite;
}
.eighth {
    transform: translateZ(0px) rotateY(260deg) rotateZ(30deg);
    left: 790px;
    top: 140px;
    background-image: linear-gradient(to bottom, rgba(153,205,156,0.2) 20%, rgba(44,225,54,1));
}
.eighth {
    -webkit-animation: animationEighthDiv 500ms;
    animation: animationEighthDiv 500ms;
    animation-iteration-count: infinite;
}
